# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /academy-altphp-intro/

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Protect application and system files from being viewed
RewriteRule ^(?:config|engine)\b.* index.php/$0 [L]

# Allow any files or directories under static folder to be displayed directly
RewriteCond %{DOCUMENT_ROOT}/static/$1 -f
RewriteRule ^(.*)$ static/$1 [PT,L,QSA]

# Rewrite all other URLs to index.php/URL
RewriteCond %{THE_REQUEST} \s/public/ [NC,OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php?$0 [PT,L,QSA]

# Set php flag and value
php_flag opcache.enable Off
php_flag xdebug.default_enable Off
php_flag xdebug.overload_var_dump Off
php_flag xdebug.show_exception_trace Off
php_value xdebug.trace_format 1

# Compress response with gzip
<IfModule mod_deflate.c>
    #apache2.4.6
    <filesMatch "\.(js|css|json|xml|txt|html|php)$">
        SetOutputFilter DEFLATE
    </filesMatch>
    #apache2.2
    #SetOutputFilter DEFLATE
    #AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript application/json
</IfModule>